@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ayakaqinwen\/JamesSmith\/app\/styles\/coverHover\.scss}line{font-family:\000031}}
.view-tenth img {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: all 0.7s ease-in-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ayakaqinwen\/JamesSmith\/app\/styles\/coverHover\.scss}line{font-family:\0000313}}
.view-tenth .mask {
  background-color: black;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ayakaqinwen\/JamesSmith\/app\/styles\/coverHover\.scss}line{font-family:\0000325}}
.view-tenth h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  margin: 20px auto;
  -webkit-transform: scale(0);
  transform: scale(0);
  color: #fff;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ayakaqinwen\/JamesSmith\/app\/styles\/coverHover\.scss}line{font-family:\0000344}}
.view-tenth p {
  color: #fff;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.5s linear;
  margin: 0 30px;
  height: 60px;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ayakaqinwen\/JamesSmith\/app\/styles\/coverHover\.scss}line{font-family:\0000367}}
.view-tenth:hover img {
  -webkit-transform: scale(10);
  transform: scale(10);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ayakaqinwen\/JamesSmith\/app\/styles\/coverHover\.scss}line{font-family:\0000377}}
.view-tenth:hover .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ayakaqinwen\/JamesSmith\/app\/styles\/coverHover\.scss}line{font-family:\0000382}}
.view-tenth:hover h2, .view-tenth:hover p, .view-tenth:hover a.info {
  -webkit-transform: scale(1);
  transform: scale(1);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
