
<video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0"> 
	<source type="video/webm" src="video/Scanner_menu_3.webmhd.webm"></source>
	<source type="video/mp4" src="video/Scanner_menu_3.mp4.mp4"></source>
	<source type="video/webm" src="video/Scanner_menu_3.webmsd.webm"></source>
</video>

<a href="http://chichileeroo.tumblr.com" target="_blank" class="menu-blog"></a>
<a ng-href="#/work" class="menu-work"></a>
<a ng-href="#/about" class="menu-about"></a>
<a ng-href="#/contact" class="menu-contact"></a>