<main>
	<div class="work-page-wrapper">

		<a ng-href="#/work/year-book">
			<div class="work-cover-wrapper ">
				<img src="../images/work-cover/yearbook.jpg"/>
				<div class="mask">
					<h2>Year Bok</h2>
					<p>Year Bok is an ongoing photography project which will be realised as a book or zine publication. The book will be a collection of photos depicting every day of my life in 2014, accompanied by a little description of what happened.</p>
					<span>...</span>
				</div>
			</div>
		</a>

		<a ng-href="#/work/membrane">
			<div class="work-cover-wrapper ">
				<img src="../images/work-cover/Membrane2.png"/>
				<div class="mask">
					<h2>Membrane</h2>
					<p>Grad show project which is currently a work in progress. The finished product will be a conceptual art/design piece which deals with ideas of virtual and “real” reality and the crossover between the two.</p>
					<span>...</span>
				</div>
			</div>
		</a>

		<a ng-href="#/work/still-and-moving">
			<div class="work-cover-wrapper ">
				<img src="../images/work-cover/stillAndMoving.jpg"/>
				<div class="mask">
					<h2>Still & Moving</h2>
					<p>My work was included in Still & Moving, an exhibition held at the Salzburg University of Applied Sciences. The project was part of a series where each photographer had to tell a story of a scene using video and photos. One of the </p>
					<span>...</span>
				</div>
			</div>
		</a>

		<a ng-href="#/work/silent-nacht-games">
			<div class="work-cover-wrapper ">
				<img src="../images/work-cover/snGames.jpg"/>
				<div class="mask">
					<h2>Silent Nacht Games</h2>
					<p>Documentary photo assignment into a table top war gaming community.</p>
					<span>...</span>
				</div>
			</div>
		</a>

		<a ng-href="#/work/trainspotting-revisited">
			<div class="work-cover-wrapper ">
				<img src="../images/work-cover/Trainspotting-Revisited.jpg"/>
				<div class="mask">
					<h2>Trainspotting Revisited</h2>
					<p style="height:25px;">Trainspotting Revisited is a documentary style photo essay, which was made in homage to Danny Boyle’s classic 1996 film.</p>
					<span>...</span>
				</div>
			</div>
		</a>

		<a ng-href="#/work/cage-cutters">
			<div class="work-cover-wrapper ">
				<img src="../images/work-cover/CageCutters.jpg"/>
				<div class="mask">
					<h2>Cage Cutters</h2>
					<p>A design experiment, taking the story of Animal Farm by George Orwell, and developing the logo and identities of three of the main groups of animals in the story. </p>
					<span>...</span>
				</div>
			</div>
		</a>

		<a ng-href="#/work/a-graphic-society">
			<div class="work-cover-wrapper ">
				<img src="../images/work-cover/A-Graphic-Society.jpg"/>
				<div class="mask">
					<h2>A Graphic Society</h2>
					<p>An illustrated and designed essay on graphic novels and visual story telling. It was hand bound at AUT’s book bindery into a paperback book.</p>
					<span>...</span>
				</div>
			</div>
		</a>

		<a ng-href="#/work/plastercine-portrait">
			<div class="work-cover-wrapper ">
				<img src="../images/work-cover/Plastercine-Portrait.jpg"/>
				<div class="mask">
					<h2>Plastercine Portrait</h2>
					<p>This was a portrait created for a friend’s album cover. Plastercine was used for the model person, with various other materials and props for the miniature room and items.</p>
					<span>...</span>
				</div>
			</div>
		</a>

		<a ng-href="#/work/scribbles">
			<div class="work-cover-wrapper ">
				<img src="../images/work-cover/Posters-Scribbles.jpg"/>
				<div class="mask">
					<h2>Posters & Scribbles</h2>
					<p>Selection of posters, drawings & scribbles.</p>
					<span>...</span>
				</div>
			</div>
		</a>

	</div>

</main>