<main>

	<div class="work-info-wrapper">
		<section><div class="work-title">Silent Nacht Games</div></section>
		<section>
			<p style="margin-bottom:10px;">Documentary photo assignment into a table top war gaming community.</p>
			<p style="margin-bottom:30px;">This project was completed while I was on an exchange in Austria at the Salzburg University of Applied Sciences.</p>
		</section>


	</div>

	<div class="work-page-wrapper">
		<img src="../images/silent-nacht-games/silent-nacht-games.jpg"/>
	</div>





</main>