<main>

	<div class="work-info-wrapper">
		<section><div class="work-title">Still & Moving</div></section>
		<section>
			<p style="margin-bottom:10px;">My work was included in Still & Moving, an exhibition held at the Salzburg University of Applied Sciences. The project was part of a series where each photographer had to tell a story of a scene using video and photos. One of the central themes was to compare the differences between the two mediums.</p>
			<p style="margin-bottom:30px;">My work shows an apres ski party in Schladming Austria.</p>
		</section>


	</div>

	<div class="work-page-wrapper">
		<div class="half-width-col width-60"><img src="../images/membrane/membrane.png"/></div>
		<div class="half-width-col width-40"><img src="../images/still-and-moving/still-and-moving.png"/></div>
	</div>





</main>